@if (tasksStats()) {
<div class="tasks-stats">
  <mat-chip-set>
    <mat-chip
      [class.active]="!statusFilter()"
      (click)="clearStatusFilter()"
      class="chip chip--total chip--animated"
    >
      Всего: {{ tasksStats()!.total }}
    </mat-chip>
    <mat-chip
      [class.active]="isStatusFilterActive('todo')"
      (click)="filterByStatus('todo')"
      class="chip chip--todo chip--animated"
    >
      К выполнению: {{ tasksStats()!.todo }}
    </mat-chip>
    <mat-chip
      [class.active]="isStatusFilterActive('inprogress')"
      (click)="filterByStatus('inprogress')"
      class="chip chip--inprogress chip--animated"
    >
      В процессе: {{ tasksStats()!.inprogress }}
    </mat-chip>
    <mat-chip
      [class.active]="isStatusFilterActive('completed')"
      (click)="filterByStatus('completed')"
      class="chip chip--completed chip--animated"
    >
      Завершено: {{ tasksStats()!.completed }}
    </mat-chip>
  </mat-chip-set>
</div>
}
